language: python

python:
  - "3.6"
  - "3.7"

before_install:

  # Install Miniconda.
  - wget https://repo.anaconda.com/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda

  # Install Python dependencies with conda using environment.yml.
  - conda env create --file environment.yml
  - conda activate plonk-dev

install:
  - conda develop .

script:
  - python -m coverage run -m pytest
  - isort --skip plonk/__init__.py --check-only -rc
  - black --check --skip-string-normalization plonk tests
  - mypy --no-strict-optional --ignore-missing-imports plonk tests

after_success:
  - coveralls

notifications:
  email:
    recipients: d.mentiplay@gmail.com
    on_success: change
    on_failure: always
