language: python

python:
  - "3.6"
  - "3.7"
  - "3.8"

before_install:

  # Install Miniconda.
  - wget https://repo.anaconda.com/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  - conda info -a

  # Install Python dependencies with conda using environment.yml.
  - conda env create --file environment.yml
  - source activate plonk-dev

install:
  - conda develop .

script:
  - python -m coverage run -m pytest
  - python -m isort --check-only -rc
  - python -m black --check --skip-string-normalization plonk tests
  - python -m mypy --ignore-missing-imports plonk tests

after_success:
  - python -m coveralls

notifications:
  email:
    recipients: d.mentiplay@gmail.com
    on_success: change
    on_failure: always
